/*
Project Name: Galleria Q
Client: Quality Food World
Author: Tamsin Trickett
Developer @QFW in Melbourne
*/

/*
I am designing this for mobile first. I will need to use min width in my Meta tags to specify when the page needs to become responsive.
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
  cursor:pointer;
}
h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}


header {
  height: 200px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: lightgrey;
  width: 90%;
}
@media only screen and (min-width: 480px) {
header {
  height: 180px;
  }
}
@media only screen and (min-width: 670px) {
header {
  height: 270px;
  }
}
@media only screen and (min-width: 900px) {
header {
  height: 420px;
  }
}
@media only screen and (min-width: 1000px) {
header {
  height: 470px;
  }
}

#mobilePageBrowserContent {
  width: 90%;
  background-color: lightgrey;
  margin:auto;
  text-align: center;
  padding: 30px;
}
@media only screen and (min-width: 480px) {
#mobilePageBrowserContent {
    display:none;
  }
}

.thanksAlert {
  display: none;
}
#signUp {
  color: white;
  background-color: black;
  border-radius: 3px;
}
.browserNav {
  width: 30%;
  background-color: lightgrey;
  margin-left: 5%;
  margin-bottom: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
}
.browserNav ul {
  padding: 30px;
  list-style: none;
  text-align: center;
  display: none;
}


@media only screen and (min-width: 480px) {
  .browserNav ul{
    display: block;
  }
  .browserNav {
    margin: none;
    float: left;
  }
}

.mobileNav {
  width: 90%;
  background-color: lightgrey;
  margin:auto;

}
@media only screen and (min-width: 480px) {
  .mobileNav {
    display:none;
  }
}

.menuItem {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  display: none;
}
#menuButton {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.mobileNav ul {
  padding: 10px;
  display: block;
  list-style: none;
  text-align: center;
}
.mobileNav li {
  padding: 10px;
}
.menuItem h2:hover {
  color: orange;
}

.mobileNav p {
  padding: 5px 20px;
  display: block;
  list-style: none;
  font-size: 15px;
  font-weight: 300;
}
.cheeseSummary, .linkCheese, .wineSummary, .linkWine, .charcuterieSummary, .linkChar,  {
  display: none;
}

.menuContent {
  display: none;
}

.browserPageHome, .browserPageCheese, .browserPageNews {
  background-color: lightgrey;
  display: none;
  margin-right: 5%;
}

@media only screen and (min-width: 480px) {
  .browserPageHome, .browserPageCheese, .browserPageNews {
    width: 60%;
    float:right;
    display:block;
  }
}

footer {
  width: 90%;
  height: 200px;
  margin:auto;
  background-color: lightgrey;
  clear: both;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
 #mobileContact {
  width: 30%;
  height: 150px;
  float: left;
  padding: 10px;
  margin: 0;
}
#mobileContact ul {
  display: block;
}

.footerMap {
  width: 50%;
  height: 150px;
  float:left;
}
.hoursBox {
  width: 20%;
  height: 150px;
  float:right;
  margin: none;
}
.hoursBox ul {
  font-size: 15px;
  padding: 20% 10px;
  list-style: none;
  text-align: center;
  line-height: 175%;
}

.mobileContactFooter li {
  font-size: 15px;
  padding: 10px;
  list-style: none;
  text-align: center;
  display: block;
}
#mobileContact li:nth-child(1n+2) {
  padding: 15px;
}
@media only screen and (min-width: 580px) {
  #mobileContact li:nth-child(1n+2) {
    display: inline;
    padding-left: 20%;
    margin-top: 20%;
  }
