/*
Project Name: Galleria Q
Client: Quality Food World
Author: Tamsin Trickett
Developer @QFW in Melbourne
*/

/*
I am designing this for mobile first. I will need to use min width in my Meta tags to specify when the page needs to become responsive.
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
body {
  height: auto;
  width: auto;
  background-color: #140A00;
  color: #140A00;
  font-family: 'Josefin Sans', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #D4AF37;
  text-decoration: none;
  cursor:pointer;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}


header {
  height: 200px;
  background-image: url("../images/picnic.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #E0D6CC;
  width: 90%;
  border-top: 30px solid #140A00;
  border-bottom: 2px dotted #E0D6CC;
}

@media only screen and (min-width: 480px) {
header {
  height: 220px;
  }
}
@media only screen and (min-width: 600px) {
header {
  height: 300px;
  }
}
@media only screen and (min-width: 800px) {
header {
  height: 350px;
  }
}
@media only screen and (min-width: 900px) {
header {
  height: 400px;
  background-image: url("../images/picnic1.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 1070px) {
header {
  height: 450px;
  background-image: url("../images/picnic2.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 1200px) {
header {
  height: 500px;
}
}

.mobilePage {
  width: 90%;
  background-color: #E0D6CC;
  margin:auto;
  text-align: center;
  padding: 30px;
}
@media only screen and (min-width: 480px) {
.mobilePage {
    display:none;
  }
}
.mobilePage img{
max-width: 90%;
max-height: 90%;
margin: 30px 50px 30px 20px;
}

.thanksAlert {
  display: none;
}
#signUp {
  height: 40px;
  width: 150px;
  color: #E0D6CC;
  background-color: #140A00;
  border-radius: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
  margin: 20px 50px 20px 50px;
}
.signUpForm {
  padding: 10px;
  margin: 20px 100px 20px 100px;

}
.browserNav {
  width: 30%;
  background-color: #E0D6CC;
  margin-left: 5%;
  margin-bottom: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.browserNav ul {
  text-align: center;
  padding: 0px 20px 20px 20px;
  list-style: none;
  display: none;
  line-height: 300%;
}
.browserNav ul li {
  border-top: 2px dotted black;
}
.browserNav ul li:first-child {
  border-top: none;
}
.browserNav ul li a {
  width: 90%;
}
@media only screen and (min-width: 480px) {
  .browserNav ul{
    display: block;
  }
  .browserNav {
    margin: none;
    float: left;
    height: 650px;
  }
  .browserNav ul li a {
    font-size: 10px;
  }
}
@media only screen and (min-width: 580px) {
  .browserNav ul li a {
    font-size: 15px;
  }
}
@media only screen and (min-width: 820px) {
  .browserNav ul li a {
    font-size: 20px;
  }
}

.mobileNav {
  width: 90%;
  background-color: #E0D6CC;
  margin:auto;
}
@media only screen and (min-width: 480px) {
  .mobileNav {
    display:none;
  }
}

.menuItem {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  display: none;
}
#menuButton {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.mobileNav ul {
  padding: 10px;
  display: block;
  list-style: none;
  text-align: center;
  margin: none;
}
.mobileNav li {
  padding: 10px;
}
.menuItem h2:hover {
  color: #D4AF37;
}
.mobileNav p {
  padding: 5px 20px;
  display: block;
  list-style: none;
  font-size: 15px;
  font-weight: 300;
}
.cheeseSummary, .linkCheese, .wineSummary, .linkWine, .charcuterieSummary, .linkChar,  {
  display: none;
}

.menuContent {
  display: none;
}

.browserPage  {
  background-color: #E0D6CC;
  display: none;
  margin-right: 5%;
  height: 650px;
  float: right;
  padding: 30px 50px 30px 20px;
  overflow: scroll;
}
@media only screen and (min-width: 480px) {
  .browserPage  {
    width: 60%;
    float:right;
    display:block;
  }
}
#cheesePost1 img {
  max-width: 90%;
  max-height: 90%;
  margin: 30px 50px 30px 20px;
  overflow: scroll;
}
#newsPost1 img {
  max-width: 90%;
  max-height: 90%;
  margin: 30px 50px 30px 20px;
  overflow: scroll;
}
#slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 60%;
  align-items: center;
}

#slider ul {
  position: absolute;
  margin left: 10%;
  padding: 0;
  list-style: none;
}
#slider ul li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}
a.controlPrev, a.controlNext {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  width: 50px;
  height: 50px;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
  padding: 15px;
  }
  a.controlNext {
  float: right;
  margin-left: 481px;
  border-radius: 10px 0px 0px 10px;
  }
a.controlPrev {
  border-radius: 0px 10px 10px 0px;
}

footer {
  width: 90%;
  height: 204px;
  margin:auto;
  background-color: #E0D6CC;
  clear: both;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  border-top: 4px dotted #140A00;
}
 #mobileContact {
  width: 30%;
  height: 150px;
  float: left;
  padding: 10px;
  margin: 0;
}
#mobileContact ul {
  display: block;
}

.footerMap {
  width: 50%;
  height: 150px;
  float:left;
}
.hoursBox {
  width: 20%;
  height: 150px;
  float:right;
  margin: none;
}
.hoursBox ul {
  font-size: 15px;
  padding: 0% 10px 10% 10px;
  list-style: none;
  text-align: center;
  line-height: 175%;
}
.mobileContactFooter li img {
height: 30%;
width: 30%;
padding: 1%;
margin-top: 20%;
margin-left: 10%;
}
.mobileContactFooter li {
  font-size: 15px;
  padding: 10px;
  list-style: none;
  text-align: center;
  display: block;
}
#mobileContact li:nth-child(1n+2) {
  padding: 0%;
}
@media only screen and (min-width: 480px) {
  #mobileContact li:nth-child(1n+2) {
    display: inline;
    padding: 0%;
    margin-top: 0%;
  }
@media only screen and (min-width: 580px) {
    #mobileContact li:first-child {
    margin-top: 20px;
    }
@media only screen and (min-width: 580px) {
    #mobileContact li img {
    margin: 10% 4%;
    height: 40%;
    width: 40%;
    }
